body {
  position: relative;

  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-clip: padding-box;
}
nav div a {
  margin: 16px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
nav div {
  position: relative;
  left: 48.15%;
  right: 45.04%;
}
nav img {
  position: relative;
  left: 2.71%;
  right: 88.89%;
  margin-top: 34px;
}
nav {
  align-items: center;
  top: 0.87%;
  bottom: 98.38%;
  display: flex;
  align-self: center;
  background: #521755;
}
.home {
  background: #521755;
}
.home-heading {
  position: relative;
  margin-top: 121px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  color: #ffffff;
}
.sub-heading1 {
  position: relative;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  margin-top: 22px;
  color: #ffffff;
}
.sub-heading2 {
  position: relative;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  margin-top: 10px;
  font-size: 64px;
  line-height: 79px;
  color: #ffffff;
}
.home .home1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 10.32%;
  right: 43.52%;
  width: 60%;
}
.home button {
  border-radius: 40px;
  border-style: none;
  background: #1e95f6;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  width: 244px;
  height: 50px;
  margin-top: 35px;
  filter: drop-shadow(
    0px 4px 4px rgba(0, 0, 0, 0.25)
  );
}
.home img {
  position: relative;
  margin-top: 40px;

  height: 10%;
  left: 5%;
}
.whitewave {
  width: 100%;
  vertical-align: middle;
}

.aboutus {
  background: linear-gradient(
    119.66deg,
    #4a154c 0%,
    #25306a 73.23%
  );
}

.aboutus .heading1 {
  position: relative;
  margin-right: 82px;
  text-align: end;
  top: 15.21%;
  bottom: 83.43%;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  color: #ffffff;
  margin-bottom: 34px;
}

.aboutus .para1 {
  position: relative;
  left: 12%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 39px;
  text-align: right;
  inline-size: 75%;
  color: #ffffff;
  margin: 0;
}

.aboutusline2 {
  position: relative;
  margin-top: 100px;
  left: 5%;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;

  color: #ffffff;
}

.aboutus2para {
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  inline-size: 50%;
  color: #ffffff;
  left: 5%;
}

.aboutusflex2 img {
  position: relative;
  align-self: center;
  padding-right: 50px;
  width: 300px;
  height: auto;
}

.aboutusflex2 {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  padding-bottom: 100px;
}

.work {
  background: url("assets/Waves/wave-2.png");
  background-color: #ffffff;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 110% 100%;
  padding-bottom: 100px;
}
.workheading {
  padding-top: 5%;
  text-decoration: underline;
  text-underline-offset: 30px;
  text-decoration-thickness: 3px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  text-align: center;
  color: #ffffff;
}
.work .logo {
  position: relative;
  padding-top: 4%;
  float: left;
  margin-top: 1%;
}

.work p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
}
.work2 {
  background: #ffffff;
}
.work2heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 144px;
  text-align: center;
  color: #022275;
}
.hexagons img {
  width: 250px;
  height: auto;
}

.hexagons {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}

.row2{
  position: relative;
  top: -50px;
}
.row3{
  position: relative;
  top: -100px;
}
.work3heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 144px;
  text-align: center;
  color: #022275;
}
.work3 {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.projectsheading {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 144px;
  text-align: center;
  color: #022275;
}
.projectsimg {
  margin-top: 30px;
  margin-bottom: 10%;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.projectsimg img {
  width: 200px;
  height: auto;
}

.eventsinline {
  background-image: url("assets/Waves/wave-4.png");
  background-color: #ffffff;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 110% 100%;
  padding-bottom: 50px;
}

.eventsheading {
  position: relative;
  padding-top: 5%;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 30px;
  text-decoration-thickness: 3px;
  padding-bottom: 6%;
}
.eventsinline img {
  position: relative;
  padding-top: 4%;
  float: left;
  margin-top: 1%;
}

.eventscards {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
.eventscards div {
  background: linear-gradient(
    156.88deg,
    #521755 -0.02%,
    #293576 99.96%
  );
  border-radius: 30px;
  display: grid;

  padding: 33px;
}
.eventscards div button {
  margin-top: 40%;
  border-radius: 30px;
  padding: 5%;
  background-color: #ffffff;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  border-style: none;
  color: #000000;
}

.contactheading {
  position: relative;
  left: 6.61%;
  padding-top: 10%;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  padding-bottom: 100px;
  color: #433c78;
}

.forminline {
  padding-left: 10%;
  display: grid;
  justify-content: space-between;
}

.forminline input {
  width: 500px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.forminline button {
  border-radius: 50px;
  border-style: none;
  width: 150px;
  padding: 10px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background: #1e95f6;
  margin-left: calc(500px - 20%);
  margin-top: 3%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
  background-image: url("assets/Waves/wave-3.png");
  background-color: #ffffff;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 110% 100%;
  padding-bottom: 50px;
  display: flex;
  padding-top: 200px;
}

.footer .left {
  position: relative;
  float: left;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  text-align: center;
  color: #ffffff;
  left: 2.61%;
  word-wrap: break-word;
  width: 500px;
}
.footer .right {
  position: relative;

  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  text-align: center;
  color: #ffffff;
  left: 20.61%;
}

.footerimg {
  position: relative;
  left: 25.61%;
}

.contactus .inline{
  position: relative;
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
  margin-right: 300px;
}